.container {
  max-width: 1000px;
  margin: 0 auto;
}
.row {
  display: flex;
}
[class*='col-'] {
  box-sizing: border-box;
}
.col-lg-1 {
  width: 8.333333333333333%;
}
.col-lg-2 {
  width: 16.66666666666667%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-4 {
  width: 33.33333333333333%;
}
.col-lg-5 {
  width: 41.66666666666667%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.33333333333333%;
}
.col-lg-8 {
  width: 66.66666666666667%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-10 {
  width: 83.33333333333333%;
}
.col-lg-11 {
  width: 91.66666666666667%;
}
.col-lg-12 {
  width: 100%;
}

/* ------------------------------------------ Responsive < 1024px */
@media screen and (max-width: 1024px) {

}


/* ------------------------------------------ Responsive < 768px */
@media screen and (max-width: 768px) {
  
}


/* ------------------------------------------ Responsive < 480px */
@media screen and (max-width: 480px) {
  
}


/* ------------------------------------------ Responsive < 320px */
@media screen and (max-width: 320px) {
  
}