@import url('./animations.css');

:root {
  --color-primary: #275DAD;
  --color-secondary: #5B616A;
  --color-tertiary: #98C1D9;
  --color-optional-1: #ABA9C3;
  --color-optional-2: #CED3DC;
  --color-highlight-1: #FCA311;
  --color-highlight-2: #EE6C4D;
  --color-light: #FCF7F8;
  --color-dark: #14213D;
  --color-text: #707070;
}

/* ------------------------------------------- General Styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

section {
  padding: 96px 0;
}

.section-title {
  font-size: 2.5em;
  font-weight: 900;
  margin-bottom: 20px;
}

/* ------------------------------------------------ Top menu */
.header {
  background-color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}
.header__menu--logo-container a {
  display: block;
  color: var(--color-text);
  transition: color 0.5s ease;
}
.header__menu--logo-container a:hover {
  color: var(--color-dark);
  text-decoration: none;
}
.header__menu--logo-container a h1 {
  padding: 0 20px;
  font-size: 1.5em;
}
.header__menu--left {
  display: flex;
  align-items: center;
}
.header__menu--left li {
  height: 100%;
  text-align: center;
}
.header__menu--left li a{
  color: var(--color-text);
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  line-height: 3rem;
  font-size: 1.2em;
  font-weight: 600;
  transition: color 0.5s ease;
}
.header__menu--left li a:hover{
  color: var(--color-dark);
}
.header__menu--left-close {
  display: none;
}
.header__menu--hamburger-menu {
  display: none;
}
.header__menu--hamburger-menu a {
  display: block;
  padding: 15px;
  margin: 0 5px;
  font-size: 1.3em;
  color: var(--color-text);
  border-radius: 50%;
  transition: all 0.5s;
}
.header__menu--hamburger-menu a:hover {
  color: var(--color-dark);
}

/* ---------------------------------------------------- Hero */
.hero {
  height: 100vh;
  min-height: 800px;
  position: relative;
  padding: 0;
  background-image: url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fade-in;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}
.hero__content--image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hero__content--box {
  display: block;
  padding-right: 20px;
}
.hero__box--container {
  background-color: white;
  border-radius: 5px;
  padding: 50px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.hero__box--container h2 {
  font-size: 3em;
  margin: 20px 0;
}
.hero__box--title {
  color: var(--color-text);
}
.hero__box--title-strong {
  color: var(--color-dark);
}

/* ------------------------------------------ Description */
.description {
}
.description__content {
  background-color: white;
  padding: 70px 50px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.description__content--title {
  padding: 0 20px;
  text-align: left;
}
.description__content--parr {
  padding: 0 20px;
  font-size: 1.7em;
  line-height: 2em;
  color: var(--color-text);
}
.description__content--parr p {
  margin-bottom: 20px;
}
.description__content--parr strong {
  color: var(--color-dark);
}

/* -------------------------------------------- Projects */
.projects {
  position: relative;
  padding-top: 0;
  background: linear-gradient(white, var(--color-light));
}
.projects > .container .projects__element:last-child {
  margin-bottom: 0;
}
.projects__title {
  margin-bottom: 50px;
}
.projects__element {
  position: relative;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects__element--image {
  min-width: 750px;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
}
.projects__element--image img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  object-fit: cover;
}
.project__element--content {
  position: relative;
  background-color: var(--color-light);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 40px;
  z-index: 2;
}
.project__element--content.left {
  margin-left: -30%;
}
.project__element--content.right {
  margin-right: -30%;
}
.project__element--title {
  margin-bottom: 20px;
  font-size: 2.2em;
}
.project__element--info {
  margin-bottom: 10px;
  padding-right: 20px;
  font-size: 1.3em;
  line-height: 1.3em;
}
.project__element--description {
  margin-bottom: 10px;
  font-size: 1.5em;
  line-height: 1.5em;
}
.project__element--link {
  font-size: 1.5em;
  text-align: right;
}
.project__element--link a {
  display: inline-block;
  padding: 10px 25px;
  color: var(--color-light);
  font-weight: bold;
  background: linear-gradient(to left, var(--color-primary), var(--color-tertiary) 50%, var(--color-primary)); 
  background-size: 600% 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: background 0.8s ease-out;
}
.project__element--link a:hover {
  text-decoration: none;
  background-position: 100% 0;
}

/* -------------------------------------------- Experiences */
.experience {
  background-color: var(--color-light);
  padding-bottom: 0;
}
.experience [class*='col-'] {
  padding: 0;
}
.experience__title {
  text-align: center;
  margin-bottom: 50px;
}
.experience__element.bg1 {
  background-color: var(--color-highlight-1);
}
.experience__element.bg2 {
  background-color: var(--color-dark);
}
.experience__element.bg3 {
  background-color: var(--color-primary);
}
.experience__element--img img {
  display: block;
  height: 600px;
  object-fit: cover;
}
.experience__element--container {
  padding: 0 60px;
  color: white;
}
.experience__element--title {
  font-size: 2em;
  margin-bottom: 20px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.experience__element--title .period {
  font-size: 0.7em;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.experience__element--title .period i {
  padding: 0 20px;
}
.experience__element--description {
  font-size: 1.5em;
  line-height: 1.5em;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* -------------------------------------------- Certifications */
.certifications {
  background-color: var(--color-optional-2);
}
.certifications__title {
  margin-bottom: 50px;
  text-align: center;
}
.certifications__subtitle {
  margin-bottom: 30px;
  font-size: 2em;
}
.certifications [class*='col-'] {
  min-height: 260px;
}
.certifications [class*='col-']:last-child .certifications__element {
  margin-bottom: 0;
}
.certifications__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.certifications__element--image {
  max-width: 70px;
  margin-bottom: 20px;
}
.certifications__element--container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.certifications__element--title {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-bottom: 5px;
}
.certifications__element--description {
  font-size: 1.3em;
  color: var(--color-text);
}


/* ------------------------------------------ Responsive < 1024px */
@media screen and (max-width: 1024px) {
  /* -------------------------- Hero */

  /* ------------------- Experiences */
  .experience__element--img img {
    height: 500px;
  }
}

/* ------------------------------------------ Responsive < 1024px */
/* Projects Only */
@media screen and (max-width: 880px) {
  /* --------------------- Projects */
  .projects__element {
    flex-direction: column;
  }
  .projects__element.reverse {
    flex-direction: column-reverse;
  }
  .project__element--content {
    margin-top: -20%;
    width: 90%;
    box-sizing: border-box;
  }
  .project__element--content.left {
    margin-left: 0;
  }
  .project__element--content.right {
    margin-right: 0;
  }
}


/* ------------------------------------------ Responsive < 768px */
@media screen and (max-width: 768px) {
  /* ----------------- General Styles */
  .section-title {
    font-size: 2.3em;
  }

  /* ---------------------- Top menu */
  .header {
    position: relative;
  }
  .header__menu--logo-container a h1 {
    font-size: 1.3em;
  }
  .header__menu--left {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    z-index: 4;
    width: 50%;
    min-width: 384px;
    background-color: var(--color-highlight-2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    transition: left 0.5s;
  }
  .header__menu--left.show {
    left: 0;
  }
  .header__menu--left li {
    height: auto;
    width: 100%;
  }
  .header__menu--left li a {
    color: var(--color-light);
    padding: 10px 0;
    font-size: 1.5em;
  }
  .header__menu--left-close {
    display: block;
  }
  .header__menu--hamburger-menu {
    display: block;
  }

  /* ------------------------- Hero */
  .hero {
    min-height: 700px;
  }
  .hero__content {
    flex-direction: column;
  }
  .hero__content--image {
    height: 250px;
    width: 250px;
    margin: 0;
    margin-bottom: 50px;
  }
  .hero__content--box {
    padding: 0 10px;
  }
  .hero__box--container {
    padding: 40px;
  }
  .hero__box--container h2 {
    font-size: 2.8em;
  }

  /* ------------------ Description */
  .description__content--parr {
    font-size: 1.6em;
    margin-bottom: 50px;
  }

  /* --------------------- Projects */
  .projects__element {
    background-size: cover;
  }
  .projects__element--image {
    min-width: auto;
    height: 500px;
  }
  .project__element--title {
    font-size: 2em;
  }
  .project__element--info {
    margin-bottom: 20px;
    padding: 0;
    font-size: 1.4em;
  }
  .project__element--description {
    font-size: 1.4em;
  }

  /* ------------------- Experiences */
  .experience__element.reverse .row {
    flex-direction: column-reverse;
  }
  .experience__element--img img {
    height: 400px;
  }
  .experience__element--container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .experience__element--title {
    font-size: 1.8em;
  }
  .experience__element--description {
    font-size: 1.4em;
    line-height: 1.4em;
  }
}


/* ------------------------------------------ Responsive < 480px */
@media screen and (max-width: 480px) {
  /* ---------------- General Styles */
  .section-title {
    font-size: 1.9em;
  }

  /* ---------------------- Top menu */
  .header__menu--left {
    width: 100%;
    min-width: initial;
  }

  /* ------------------------- Hero */
  .hero {
    min-height: 600px;
  }
  .hero__content--image {
    height: 200px;
    width: 200px;
  }
  .hero__box--container {
    padding: 35px;
  }
  .hero__box--container h2 {
    font-size: 2.5em;
  }

  /* ------------------ Description */
  .description__content {
    padding: 50px 30px;
  }
  .description__content--parr {
    font-size: 1.5em;
  }

  /* --------------------- Projects */
  .projects__element {
    margin-bottom: 30px;
  }
  .projects__element--image {
    height: 400px;
  }
  .project__element--content {
    margin-top: -50%;
    padding: 35px;
  }
  .project__element--title {
    font-size: 2em;
  }
  .project__element--info {
    font-size: 1.3em;
  }
  .project__element--description {
    font-size: 1.3em;
  }

  /* ------------------- Experiences */
  .experience {
    padding-top: 0;
  }
  .experience__element--img img {
    height: 300px;
  }
  .experience__element--container {
    padding: 50px 30px;
  }
  .experience__element--title {
    font-size: 1.6em;
  }
  .experience__element--description {
    font-size: 1.3em;
    line-height: 1.3em;
  }
}


/* ------------------------------------------ Responsive < 320px */
@media screen and (max-width: 320px) {
  /* ---------------- General Styles */
  .section-title {
    font-size: 1.8em;
  }

  /* ---------------------- Top menu */
  .header__menu--logo-container a h1 {
    font-size: 1.2em;
  }
  .header__menu--left li a {
    font-size: 1.2em;
  }

  /* ------------------------- Hero */
  .hero__content--image {
    height: 180px;
    width: 180px;
    margin-bottom: 30px;
  }
  .hero__box--container {
    padding: 30px;
  }
  .hero__box--container h2 {
    font-size: 2em;
  }

  /* ------------------ Description */
  .description__content {
    padding: 30px 10px;
  }
  .description__content--parr {
    font-size: 1.3em;
  }

  /* --------------------- Projects */
  .projects__element {
    margin-bottom: 20px;
  }
  .projects__element--image {
    height: 300px;
  }
  .project__element--content {
    padding: 25px;
    width: auto;
    margin-top: 0;
  }

  /* ------------------- Experiences */
  .experience__element--container {
    padding: 40px 20px;
  }
}