:root {
  --color-primary: #275DAD;
  --color-secondary: #5B616A;
  --color-tertiary: #98C1D9;
  --color-optional-1: #ABA9C3;
  --color-optional-2: #CED3DC;
  --color-highlight-1: #FCA311;
  --color-highlight-2: #EE6C4D;
  --color-light: #FCF7F8;
  --color-dark: #14213D;
  --color-text: #707070;
}

/* ------------------------------------------- General Styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

section {
  padding: 96px 0;
}

.section-title {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

/* ------------------------------------------------ Top menu */
.header {
  background-color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}
.header__menu--logo-container a {
  display: block;
  color: var(--color-text);
  transition: color 0.5s ease;
}
.header__menu--logo-container a:hover {
  color: var(--color-dark);
  text-decoration: none;
}
.header__menu--logo-container a h1 {
  padding: 0 20px;
  font-size: 1.5em;
}
.header__menu--left {
  display: flex;
  align-items: center;
}
.header__menu--left li {
  height: 100%;
  text-align: center;
}
.header__menu--left li a{
  color: var(--color-text);
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  line-height: 3rem;
  font-size: 1.2em;
  font-weight: 600;
  transition: color 0.5s ease;
}
.header__menu--left li a:hover{
  color: var(--color-dark);
}
.header__menu--left-close {
  display: none;
}
.header__menu--hamburger-menu {
  display: none;
}
.header__menu--hamburger-menu a {
  display: block;
  padding: 15px;
  margin: 0 5px;
  font-size: 1.3em;
  color: var(--color-text);
  border-radius: 50%;
  transition: all 0.5s;
}
.header__menu--hamburger-menu a:hover {
  color: var(--color-dark);
}

/* ---------------------------------------------------- Hero */
.hero {
  height: 100vh;
  min-height: 500px;
  position: relative;
  padding: 0;
}
.hero__banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero__banner::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--color-overlay);
  z-index: 1;
}
.banner1 {
  background-image: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg');
}
.hero__banner--content {
  position: relative;
  z-index: 2;
  max-width: 1000px;
}
.hero__banner--phrase {
  padding: 15px 100px;
  color: var(--color-white);
  background-color: var(--color-secondary-opacity);
  font-size: 4em;
}
.hero__banner--cite {
  padding: 10px 100px;
  color: var(--color-white);
  background-color: var(--color-primary-opacity);
  display: inline-block;
  font-size: 1.2em;
}

/* ---------------------------------------------- Hero Slider */
.hero__arrow--container {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__arrow--container.left {
  top: 0;
  bottom: 0;
  left: 0;
}
.hero__arrow--container.right {
  top: 0;
  bottom: 0;
  right: 0;
}
.hero__arrow--container a {
  display: block;
  padding: 50px 15px;
  color: var(--color-light);
  font-size: 2em;
  opacity: 0.5;
  transition: 0.5s;
}
.hero__arrow--container a:hover {
  background-color: var(--color-primary-opacity);
  opacity: 1;
}

/* ------------------------------------------ Description */
.description__content {
  justify-content: center;
  align-items: center;
}
.description__content--parr {
  padding: 0 20px;
  font-size: 2em;
  line-height: 2em;
  color: var(--color-primary);
}
.description__content--img {
  border-radius: 50%;
}

/* -------------------------------------------- Projects */
.projects {
  position: relative;
  background-color: var(--color-tertiary);
}
.projects__background {
  display: none;
  position: absolute;
  top: -96px;
  left: 0;
  width: 100%;
}
.projects__background img {
  width: 100%;
  height: 192px;
  object-fit: contain;
}
.projects__title {
  color: var(--color-white);
  margin-bottom: 50px;
}
.projects__element {
  min-height: 200px;
  position: relative;
  padding: 70px 50px;
  margin-bottom: 30px;
  color: var(--color-white);
  background-color: black;
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s;
}
.projects__element:hover {
  background-size: 100%;
}
.projects .container:hover .projects__element{
  opacity: 0.7;
}
.projects .container:hover .projects__element:hover {
  opacity: 1;
}
.projects__element::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--color-overlay);
  z-index: 1;
}
.projects__element.project1 {
  
}
.projects__element.project2 {
  background-image: url('../images/project-skolar-bg.jpg');
}
.project__element--content {
  position: relative;
  z-index: 2;
}
.project__element--title {
  margin-bottom: 20px;
  font-size: 2.2em;
}
.project__element--info {
  padding-right: 20px;
  font-size: 1.5em;
  line-height: 1.5em;
}
.project__element--info .link {
  display: inline-block;
  margin: 10px 0;
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  font-weight: bold;
  color: var(--color-white);
  transition: all 0.5s;
}
.project__element--info .link:hover {
  background-color: transparent;
  text-decoration: none;
}
.project__element--description {
  font-size: 1.5em;
  line-height: 1.5em;
}

/* ------------------------------------------ Responsive < 1024px */
@media screen and (max-width: 1024px) {
  /* -------------------------- Hero */
  .hero__banner--content {
    max-width: 744px;
  }
  .hero__banner--phrase {
    padding: 15px 70px;
    font-size: 3.5em;
  }
  .hero__banner--cite {
    padding: 10px 70px;
  }
}


/* ------------------------------------------ Responsive < 768px */
@media screen and (max-width: 768px) {
  /* ----------------- General Styles */
  .section-title {
    font-size: 2.3em;
  }
  /* ---------------------- Top menu */
  .header {
    position: relative;
  }
  .header__menu--logo-container a h1 {
    font-size: 1.3em;
  }
  .header__menu--left {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    z-index: 4;
    width: 50%;
    min-width: 384px;
    background-color: var(--color-highlight-2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    transition: left 0.5s;
  }
  .header__menu--left.show {
    left: 0;
  }
  .header__menu--left li {
    height: auto;
    width: 100%;
  }
  .header__menu--left li a {
    color: var(--color-light);
    padding: 10px 0;
    font-size: 1.5em;
  }
  .header__menu--left-close {
    display: block;
  }
  .header__menu--hamburger-menu {
    display: block;
  }

  /* ------------------------- Hero */
  .hero__banner--phrase {
    padding: 15px 50px;
    font-size: 3em;
  }
  .hero__banner--cite {
    padding: 10px 50px;
    font-size: 1.1em;
  }

  /* ------------------ Hero Slider */
  .hero__arrow--container {
    display: none;
  }

  /* ------------------ Description */
  .description__content--parr {
    font-size: 1.8em;
    margin-bottom: 50px;
  }

  /* --------------------- Projects */
  .projects__element {
    background-size: cover;
  }
  .project__element--title {
    font-size: 2em;
  }
  .project__element--info {
    margin-bottom: 20px;
    padding: 0;
    font-size: 1.4em;
  }
  .project__element--description {
    font-size: 1.4em;
  }
}


/* ------------------------------------------ Responsive < 480px */
@media screen and (max-width: 480px) {
  /* ---------------- General Styles */
  .section-title {
    font-size: 1.9em;
  }
  /* ---------------------- Top menu */
  .header__menu--left {
    width: 100%;
    min-width: initial;
  }
  /* ------------------------- Hero */
  .hero {
    height: 500px;
  }
  .hero__banner--phrase {
    padding: 15px;
    font-size: 2em;
    text-align: center;
  }
  .hero__banner--cite {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    text-align: center;
  }
  /* ------------------ Description */
  .description__content--parr {
    font-size: 1.5em;
  }

  /* --------------------- Projects */
  .projects__element {
    padding: 30px 20px;
  }
  .project__element--title {
    font-size: 2em;
  }
  .project__element--info {
    font-size: 1.3em;
  }
  .project__element--description {
    font-size: 1.3em;
  }
}


/* ------------------------------------------ Responsive < 320px */
@media screen and (max-width: 320px) {
  /* ---------------- General Styles */
  .section-title {
    font-size: 1.8em;
  }
  /* ---------------------- Top menu */
  .header__menu--logo-container a h1 {
    font-size: 1.2em;
  }
  .header__menu--left li a {
    font-size: 1.2em;
  }
  /* ------------------ Description */
  .description__content--parr {
    font-size: 1.3em;
  }
}