:root {
  --color-primary: #293241;
  --color-primary-opacity: #29324180;
  --color-secondary: #ee6c4d;
  --color-secondary-opacity: #ee6c4d80;
  --color-light: #e0fbfc;
  --color-normal: #98c1d9;
  --color-strong: #3d5a80;
  --color-white: white;
  --color-overlay: #00000080;
}

/* ------------------------------------------- General Styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}
ul, ol {
  list-style: none;
}

.section-title {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

/* ------------------------------------------------ Top menu */
.header {
  background-color: var(--color-primary);
  color: var(--color-white);
  overflow: hidden;
  position: fixed;
  z-index: 3;
  width: 100%;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}
.header__menu--logo-container a {
  display: block;
}
.header__menu--logo-container a img {
  height: 52px;
  color: var(--color-white);
  margin-left: 20px;
}
.header__menu--left {
  display: flex;
  align-items: center;
}
.header__menu--left li {
  height: 100%;
  text-align: center;
}
.header__menu--left li a{
  color: var(--color-white);
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  line-height: 3rem;
  font-size: 1.2em;
  transition: all 0.5s;

}
.header__menu--left li a:hover{
  background-color: var(--color-strong);
}
.header__menu--left-close {
  display: none;
}
.header__menu--hamburger-menu {
  display: none;
}
.header__menu--hamburger-menu a {
  display: block;
  padding: 15px;
  margin: 0 5px;
  font-size: 1.3em;
  color: var(--color-white);
  border-radius: 50%;
  transition: all 0.5s;
}
.header__menu--hamburger-menu a:hover {
  color: var(--color-normal);
}

/* ---------------------------------------------------- Hero */
.hero {
  height: 100vh;
  min-height: 600px;
  position: relative;
}
.hero__banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero__banner::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--color-overlay);
  z-index: 1;
}
.banner1 {
  background-image: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg');
}
.hero__banner--content {
  position: relative;
  z-index: 2;
  max-width: 1000px;
}
.hero__banner--phrase {
  padding: 15px 100px;
  color: var(--color-white);
  background-color: var(--color-secondary-opacity);
  font-size: 4em;
}
.hero__banner--cite {
  padding: 10px 100px;
  color: var(--color-white);
  background-color: var(--color-primary-opacity);
  display: inline-block;
  font-size: 1.2em;
}

/* ---------------------------------------------- Hero Slider */
.hero__arrow--container {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__arrow--container.left {
  top: 0;
  bottom: 0;
  left: 0;
}
.hero__arrow--container.right {
  top: 0;
  bottom: 0;
  right: 0;
}
.hero__arrow--container a {
  display: block;
  padding: 50px 15px;
  color: var(--color-light);
  font-size: 2em;
  opacity: 0.5;
  transition: 0.5s;
}
.hero__arrow--container a:hover {
  background-color: var(--color-primary-opacity);
  opacity: 1;
}

/* ------------------------------------------ Description */
.description {
  padding: 96px 0;
}
.description__content {
  justify-content: center;
  align-items: center;
}
.description__content--parr {
  padding: 0 20px;
  font-size: 2em;
  line-height: 2em;
  color: var(--color-primary);
}
.description__content--img {
  border-radius: 50%;
}


/* ------------------------------------------ Responsive < 1024px */
@media screen and (max-width: 1024px) {
  /* -------------------------- Hero */
  .hero__banner--content {
    max-width: 744px;
  }
  .hero__banner--phrase {
    padding: 15px 70px;
    font-size: 3.5em;
  }
  .hero__banner--cite {
    padding: 10px 70px;
  }
}


/* ------------------------------------------ Responsive < 768px */
@media screen and (max-width: 768px) {
  /* ----------------- General Styles */
  .section-title {
    font-size: 2.3em;
  }
  /* ---------------------- Top menu */
  .header {
    position: relative;
  }
  .header__menu--left {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    z-index: 4;
    width: 50%;
    min-width: 384px;
    background-color: var(--color-secondary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    transition: left 0.5s;
  }
  .header__menu--left.show {
    left: 0;
  }
  .header__menu--left li {
    height: auto;
    width: 100%;
  }
  .header__menu--left li a {
    padding: 10px 0;
    font-size: 1.5em;
  }
  .header__menu--left-close {
    display: block;
  }
  .header__menu--hamburger-menu {
    display: block;
  }

  /* ------------------------- Hero */
  .hero__banner--phrase {
    padding: 15px 50px;
    font-size: 3em;
  }
  .hero__banner--cite {
    padding: 10px 50px;
    font-size: 1.1em;
  }

  /* ------------------ Hero Slider */
  .hero__arrow--container {
    display: none;
  }

  /* ------------------ Description */
  .description__content--parr {
    font-size: 1.8em;
    margin-bottom: 50px;
  }
}


/* ------------------------------------------ Responsive < 480px */
@media screen and (max-width: 480px) {
  /* ---------------- General Styles */
  .section-title {
    font-size: 1.9em;
  }
  /* ---------------------- Top menu */
  .header__menu--left {
    width: 100%;
    min-width: initial;
  }
  /* ------------------------- Hero */
  .hero__banner--phrase {
    padding: 15px;
    font-size: 2em;
    text-align: center;
  }
  .hero__banner--cite {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    text-align: center;
  }
  /* ------------------ Description */
  .description__content--parr {
    font-size: 1.5em;
  }
}


/* ------------------------------------------ Responsive < 320px */
@media screen and (max-width: 320px) {
  /* ---------------- General Styles */
  .section-title {
    font-size: 1.8em;
  }
  /* ---------------------- Top menu */
  .header__menu--left li a {
    font-size: 1.2em;
  }
  /* ------------------ Description */
  .description__content--parr {
    font-size: 1.3em;
  }
}