@keyframes slide-left {
  0% { 
    left: -100%; 
    opacity: 0;
  }
  65% { 
    left: -45%; 
  }
  100% { 
    left: -50%;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}